.headerLinksList {
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  width: 100%;
}

.userProfileItem {
  position: relative;
  color: black;
  margin-right: 10%;
  background-color: #fff;
  border-radius: 8px;
  border: 3px solid #2196f3;
  letter-spacing: 0.03em;
  font-size: 16px;
  font-weight: 600;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.userProfileItem:hover {
  background-color: #2196f3;
  color: #fff;
  border-radius: 8px 8px 0 0px;
}
.userProfileMainBlock {
  padding: 7px 15px;
}

.userProfileBlock {
  text-align: center;
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateX(-20%);
  left: 0;
  top: 36px;
  width: max-content;
  padding: 7px 15px;
  border-radius: 3px;
  background-color: white;
  cursor: initial;
  box-shadow: 0px 8px 10px 2px rgba(34, 60, 80, 0.2);
}

.userProfileItem:hover .userProfileBlock {
  visibility: visible;
  color: black;
}
.userProfileBlock:hover {
  color: black;
}

.userName {
  margin-bottom: 5px;
  font-size: 20px;
}
.userEmail {
  margin-bottom: 20px;
  font-size: 20px;
}

.logoutBtn {
  cursor: pointer;
  color: black;
  padding: 3px 15px;
  background-color: #fff;
  border-radius: 8px;
  border: 3px solid #2196f3;
  letter-spacing: 0.03em;
  font-size: 16px;
  font-weight: 600;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logoutBtn:hover {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.headerLinksItem {
  margin-right: 10px;
}
.headerLinksItem:nth-child(2) {
  margin-right: 9%;
}

.headerLinkContacts {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.headerLink {
  cursor: pointer;
  color: black;
  padding: 7px 15px;
  background-color: #fff;
  border-radius: 8px;
  border: 3px solid #2196f3;
  letter-spacing: 0.03em;
  font-size: 16px;
  font-weight: 600;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headerLink:hover {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.activeHeaderLink {
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 8px;
  border: 3px solid #2196f3;
  letter-spacing: 0.03em;
  font-size: 16px;
  font-weight: 600;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Loader Styles Below */
.ldsDualRing {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 101%;
  transform: translate(-15px, -8px);
  z-index: 2;
  border-radius: 3px;
  background-color: rgba(89, 87, 87, 0.505);
}
.ldsDualRing:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid rgb(0, 0, 0);
  border-color: rgb(81, 0, 255) transparent rgb(255, 213, 0) transparent;
  animation: ldsDualRing 1.2s linear infinite;
}
@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
